<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822889035029-lmu13u26cj06rjr0m5r9rjg40aap4cn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822889035029-lmu13u26cj06rjr0m5r9rjg40aap4cn3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>822889035029-9tigv6nrro9o57q3frbllkaihg8jni8u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQBAt9UhdCRmROs2eqnrzpZlcFTXY6qh0</string>
	<key>GCM_SENDER_ID</key>
	<string>822889035029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onemoretour</string>
	<key>PROJECT_ID</key>
	<string>one-more-tour</string>
	<key>STORAGE_BUCKET</key>
	<string>one-more-tour.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822889035029:ios:4993c17e620718680ba51c</string>
</dict>
</plist>